* {
    font-family: sans-serif;
}
header.bg-image{
    background-image: url(../assets/images/main.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.navbar{
    background-color: black;
}
.padding {
    padding-top: 30px;
    padding-bottom: 30px;
}
#home {
    background: url(../assets/images/main-cat.jpg) no-repeat center center fixed;
    display: table;
    height: 500px;
    width: 100%;
    position: relative;
    background-size: cover;
}
.title{
    color: white;
}
div.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
img.objImage{
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: center;
}
#white-cat {
    background: url(../assets/images/white-cat.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    height: 500px;
    width: 100%;
    position: relative;
}
.btncontact {
	background-color: orange;
    color: white;
    border-radius: 20px;
    font-size: 19px;
    font-style: unset;
}
footer{
    background-color: black;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}